| #{familyName} #{givenName} 様
| この度は、#{sellerName}のオンライン先売りチケットサービスにてご購入頂き、誠にありがとうございます。お客様がご購入されましたチケットの情報は下記の通りです。
| 
| [予約番号]
| #{confirmationNumber}
| 
| [鑑賞日時]
| #{eventStartDate}
| 
| [作品名]
| #{workPerformedName}
| 
| [スクリーン名]
| #{screenName}
| 
| [座席]
| #{reservedSeats}
| 
| [合計]
| ￥#{price}
| 
| 【チケット発券について】
| チケットの発券/入場方法は2通りからお選び頂けます。
| 
| <発券/入場方法1 入場用QRコードで入場>
| 以下のURLよりチケット情報確認画面へアクセス頂き、「チケットを購入した劇場」「予約番号」「お電話番号」を入力してログインしてください。 ご鑑賞時間の24時間前から入場用QRコードが表示されますので、入場時にそちらのQRコードをご提示ください。
| !{inquiryUrl}
| 
| <発券/入場方法2 劇場発券機で発券>
| 劇場に設置されている発券機にて発券頂きます。予約番号をお控えの上ご来場ください。
| チケットが発券できなかった場合にはチケット売場にお越しください。
| 
| 【ご注意事項】
| ・ご購入されたチケットの変更、キャンセル、払い戻しはいかなる場合でも致しかねます。
| ・チケットの発券にお時間がかかる場合もございますので、お時間の余裕を持ってご来場ください。
| ・メンバーズカード会員のお客様は、ポイントは付与いたしますので、発券したチケットまたは、表示されたQRコードとメンバーズカードをチケット売場までお持ちくださいませ。
| ・年齢や学生など各種証明が必要なチケットを購入された方は、入場時にご提示ください。
| ご提示頂けない場合は、一般料金との差額を頂きます。
| 
| なお、このメールは、#{sellerName}の予約システムでチケットをご購入頂いた方にお送りしておりますが、
| チケット購入に覚えのない方に届いております場合は、下記お問い合わせ先までご連絡ください。
| ※なお、このメールアドレスは送信専用となっておりますので、ご返信頂けません。
| ご不明な点がございましたら、下記番号までお問合わせください。
| 
| お問い合わせはこちら
| #{sellerName}
| TEL：#{sellerTelephone}