| #{familyName} #{givenName} 様
| 下記購入について、返金処理が完了いたしました。
| またのご利用、心よりお待ちしております。
| 
| [予約番号]
| #{confirmationNumber}
| 
| [金額]
| ￥#{price}
| 
| なお、このメールは、#{sellerName}の予約システムでチケットをご購入頂いた方にお送りしておりますが、
| チケット購入に覚えのない方に届いております場合は、下記お問い合わせ先までご連絡ください。
| ※なお、このメールアドレスは送信専用となっておりますので、ご返信頂けません。
| ご不明な点がございましたら、下記番号までお問合わせください。
| 
| お問い合わせはこちら
| #{sellerName}
| TEL：#{sellerTelephone}